@font-face {
  font-family: 'Pantone';
  src: url('../fonts/Panton-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pantone';
  src: url('../fonts/Panton-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pantone';
  src: url('../fonts/Panton-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}