.header {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
}

.header__logo__img {
  @media (max-width: 575px) {
    width: 180px;
  }
  @media (min-width: 576px) {
    width: 260px;
  }
}

.header__link {
  text-transform: uppercase;
  color: var(--color-text-primary);
  border: 1px solid transparent;
  @media (min-width: 992px) {
    padding: .5rem;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-hover-text-gray);
  }
  &:focus {
    border-color: var(--color-hover-text-gray);
  }
}