.t-display {

}

.t-page-title {
  font-size: 2.5rem;
}

.t-headline-primary {

}

.t-section-headline {
  font-size: 2.5rem;
  font-weight: 600;
}

.t-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}