:root {

  // TYPE SCALE
  --type-scale-12: .75rem;
  --type-scale-16: 1rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-32: 2rem;

  // BASE COLORS
  --color-yellow: #efc818;
  --color-white: #fff;
  --color-blue-dark: #0A3D5E;
  --color-orange: #F37620;
  --color-teal: #00AEB4;

  // SITE COLORS
  --color-text-primary: #0A3D5E;

  // FONTS
  --font-pantone: "Pantone", san-serif;
}
