.card {
  background: var(--color-blue-dark);
}

.card__headline {
  color: var(--color-orange);
}

.card__title {
  color: var(--color-white);
}

.card__speaker-track {
  color: var(--color-white);
}

.card__time {
  color: var(--color-white);
}

.card__image {

}

.card__description {

}