.card-speakers {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card-speaker {
  padding: 1rem .5rem 1.5rem;
  display: grid;
  grid-template-areas:
    "speaker-info speaker-image"
    "speaker-body speaker-body";
  grid-template-rows: min-content 1fr;
  border-radius: .25rem;
}

.card-speaker__headline {
  margin-top: .5rem;
}

.card-speaker__info {
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  grid-area: speaker-info;

  .t-body {
    margin-bottom: 1rem;
    display: flex;
  }
}

.card-speaker__image {
  padding-right: 1rem;
  grid-area: speaker-image;
  border-radius: 50%;
}

.card-speaker__body {
  grid-area: speaker-body;
  color: var(--color-white);
}