.masthead {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-white);
  background-image: url(http://www.activateconf.com/assets/uploads/general/backgrounds/reeves-hooper.jpg);
  background-position: 80% top;
  background-repeat: no-repeat;
  background-size: auto 140%;
}

.masthead__heading {
  padding-bottom: 0;
}

.masthead__headline {
  margin-bottom: 3rem;
  color: var(--color-teal);
}